@mixin loader() {
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @keyframes ldio-ced7w30c94v {
        0% { transform: rotate(0) }
        100% { transform: rotate(360deg) }
    }
    .ldio-ced7w30c94v div { box-sizing: border-box!important }
    .ldio-ced7w30c94v > div {
        position: absolute;
        width: 91.77000000000001px;
        height: 91.77000000000001px;
        top: 34.615px;
        left: 34.615px;
        border-radius: 50%;
        border: 4.83px solid #000;
        border-color: #ff5c96 transparent #ff5c96 transparent;
        animation: ldio-ced7w30c94v 1s linear infinite;
    }

    .ldio-ced7w30c94v > div:nth-child(2), .ldio-ced7w30c94v > div:nth-child(4) {
        width: 78.89px;
        height: 78.89px;
        top: 41.055px;
        left: 41.055px;
        animation: ldio-ced7w30c94v 1s linear infinite reverse;
    }
    .ldio-ced7w30c94v > div:nth-child(2) {
        border-color: transparent #ee8b8b transparent #ee8b8b
    }
    .ldio-ced7w30c94v > div:nth-child(3) { border-color: transparent }
    .ldio-ced7w30c94v > div:nth-child(3) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
    .ldio-ced7w30c94v > div:nth-child(3) div:before, .ldio-ced7w30c94v > div:nth-child(3) div:after { 
        content: "";
        display: block;
        position: absolute;
        width: 4.83px;
        height: 4.83px;
        top: -4.83px;
        left: 38.64px;
        background: #ff5c96;
        border-radius: 50%;
        box-shadow: 0 86.94000000000001px 0 0 #ff5c96;
    }
    .ldio-ced7w30c94v > div:nth-child(3) div:after {
        left: -4.83px;
        top: 38.64px;
        box-shadow: 86.94000000000001px 0 0 0 #ff5c96;
    }

    .ldio-ced7w30c94v > div:nth-child(4) { border-color: transparent; }
    .ldio-ced7w30c94v > div:nth-child(4) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
    .ldio-ced7w30c94v > div:nth-child(4) div:before, .ldio-ced7w30c94v > div:nth-child(4) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 4.83px;
        height: 4.83px;
        top: -4.83px;
        left: 32.2px;
        background: #ee8b8b;
        border-radius: 50%;
        box-shadow: 0 74.06px 0 0 #ee8b8b;
    }
    .ldio-ced7w30c94v > div:nth-child(4) div:after {
        left: -4.83px;
        top: 32.2px;
        box-shadow: 74.06px 0 0 0 #ee8b8b;
    }
    .loadingio-spinner-double-ring-elrmbvi4v7j {
        width: 161px;
        height: 161px;
        display: inline-block;
        overflow: hidden;
        background: none;
    }
    .ldio-ced7w30c94v {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }
    .ldio-ced7w30c94v div { box-sizing: content-box; }
    /* generated by https://loading.io/ */
}
@mixin error () {
    .error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        background-color: rgb(253, 55, 55);
        color: rgb(255, 255, 255);
        padding: 25px;
        border-radius: 5px;
        .err-code {
            background-color: white;
            padding: 15px;
            border-radius: 30px;
            text-align: center
        }
    }
}
@mixin body-basics () {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
@mixin m-x ($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}
@mixin m-y ($mt, $mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}
@mixin p-x ($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}
@mixin p-y ($pt, $pb) {
    padding-top: $pt;
    padding-bottom: $pb;
}
@mixin display-type ($mode: flex, $direction: row, $align-hz: center, $align-vt: center) {
    display: $mode;
    flex-direction: $direction;
    justify-content: $align-hz;
    align-items: $align-vt;
}
@mixin fade-in ($delay: 250, $threshold: 20) {
    animation: fade-in #{$delay}ms;
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateX(-#{$threshold}px);
        }
        25% {
            opacity: 25%;
            transform: translateX(-#{$threshold/2}px);
        }
        50% {
            opacity: 50%;
            transform: translateX(-#{$threshold/2/2}px);
        }
        75% {
            opacity: 75%;
            transform: translateX(-#{$threshold/2/2/2}px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
@mixin fade-out ($delay: 250, $threshold: 20) {
    animation: fade-out #{$delay}ms;
    @keyframes fade-out {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        25% {
            opacity: 75%;
            transform: translateX(#{$threshold}px);
        }
        50% {
            opacity: 50%;
            transform: translateX(#{$threshold*2}px);
        }
        75% {
            opacity: 25%;
            transform: translateX(#{$threshold*4}px);
        }
        100% {
            opacity: 0;
            transform: translateX(0);
        }
    }
}
@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute; 
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin fade-in-adv ($delay: 250) {
    animation: fade-in-adv #{$delay}ms;
    @keyframes fade-in-adv {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 25%;
        }
        50% {
            opacity: 50%;
        }
        75% {
            opacity: 75%;
        }
        100% {
            opacity: 1;
        }
    }
}
@mixin mobile-mods () {
    @media screen and (max-width: 1020px) {
        .main {
            width: 90% !important;
        }
        figcaption {
            text-align: center !important;
        }
    }
}